*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    flex-direction: row;
}

header div.top-header p{
    display: flex;
    align-items: center;
    width: 15rem;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 25rem;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    width: 15rem;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    width: 1.2rem;
    padding: 2px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

main section div.products article i{
    transition: transform 1s;
}

main section div.products article:hover i{
    transform: rotate(-90deg);
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article:hover .description{
    display: block;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer i.fas{
    color:#0044AA;
    margin-top: 10px;
    font-size: 2rem;
}

.footer-titulo{
    font-weight: bold;
}
.footer-detalle{
    text-align: center
}

.footer div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 25rem;
    margin-top: 20px;
}

.footer div i.fas:hover {
    color: rgb(0, 247, 255);
}


/* Register FORM */
main.register div.form-name{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-top: 10px;
}
main.register div.form-name input{
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
}

div.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    margin-top: 10px;
}

div.interests{
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    justify-content: space-between;
}
div.interests input{
    margin-top: 15px;
    
}

div.password input{
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 5px; 
}
/* Login form */
main.login form input{
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    padding: 5px; 
}


/* MEDIA QUERIES */
@media (min-width: 361px){
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
        
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
        
    }
    div.burger-menu i{
        display:none;
    }

    nav .nav-left {
    width: 35%;
    display: flex;
    justify-content: space-between;
    }
    nav .nav-right {
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        }


.main-nav{
    display: flex;
    padding-bottom: 5px;
}

.footer{
    flex-direction: row;
}

}
